<particles [params]="particles" [style]="ParticleStyle" [width]="width" [height]="height"></particles>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <div class="space-200"></div>
                <div class="space-200 d-none d-xl-block"></div>
                <div class="space-50 d-xl-none"></div>
                <h1 class="text-white font-22 Aquatico-Regular">
                    How can we help you?
                </h1>
                <div class="space-15"></div>
                <button (click)="OpenAssistant();" class="LinotteLight font-16" mat-raised-button color="primary">
                  Show the assistant
                </button>
                <div class="space-15"></div>
                <section class="offset-1" style="border-top: 2px solid white; width: 80%"></section>
                <div class="space-20"></div>
                <article>
                    <p class="text-white LinotteRegular">
                        When requesting any service from us, we will not ask for any kind of confidential information, only your contact information. By affiliating you are accepting to receive marketing emails from syfte and our Cookies policy.
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>