<div class="space-50"></div>
<section>
    <div class="row">
        <div class="col-sm text-center">
            <h1 class="LinotteRegular text-white">
                Confirmación
            </h1>
        </div>
    </div>
</section>
<section>
    <div class="row text-center">
        <div class="col text-center">
            <div class="card col-xl-4 offset-xl-4">
                <div class="space-10"></div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <mat-icon class="material-icons font-45">date_range</mat-icon>
                        </mat-card-title>
                        <mat-card-title>
                            Has reservado una cita con el equipo de ventas
                        </mat-card-title>
                    </mat-card-header>
                    <div class="space-15"></div>
                    <mat-divider></mat-divider>
                    <div class="space-15"></div>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-1">
                                <mat-icon class="material-icons text-success">fiber_manual_record</mat-icon>
                            </div>
                            <div class="col text-left">
                                <mat-hint>
                                    Equipo de Marketing
                                </mat-hint>
                            </div>
                        </div>
                        <div class="space-10"></div>
                        <div class="row">
                            <div class="col-1">
                                <mat-icon class="material-icons">schedule</mat-icon>
                            </div>
                            <div class="col text-left">
                                <mat-hint>
                                    28/03/12
                                </mat-hint>
                            </div>
                        </div>
                        <div class="space-10"></div>
                        <div class="row">
                            <div class="col-1">
                                <mat-icon class="material-icons">language</mat-icon>
                            </div>
                            <div class="col text-left">
                                <mat-hint>
                                    Time
                                </mat-hint>
                            </div>
                        </div>
                        <div class="space-15"></div>
                        <h5 class="LinotteRegular">
                            Se ha enviado los detalles a su correo electrónico
                        </h5>
                        <div class="space-15"></div>
                        <mat-divider></mat-divider>
                        <div class="space-15"></div>
                        <div class="row">
                            <div class="col">
                                <button mat-raised-button color="primary" type="button">
                                Explorar más servicios
                              </button>
                            </div>
                            <div class="col">
                                <div class="space-15 d-md-none"></div>
                                <button mat-raised-button color="light" type="button">
                                Pagina Principal
                              </button>
                            </div>
                        </div>
                    </mat-card-content>
                    <div class="space-50"></div>
                    <mat-card-footer>
                        <mat-card-title>
                            <h5 class="LinotteRegular font-12">
                                Terminos y condiciones del servicio
                            </h5>
                        </mat-card-title>
                        <mat-hint style="font-size: 10px" class="text-dark font-12">
                            Podrá <b>cancelar o reprogramar</b> la cita en cualquier momento desde su correo electrónico. <b>En caso de no asistir sin previo aviso o cancelación, será requerida una cuota de $15 antes de poder solicitar algún otro servicio</b>.
                        </mat-hint>
                    </mat-card-footer>
                </mat-card>
                <div class="space-10"></div>
            </div>
        </div>
    </div>
</section>