<section>
    <div class="container">
        <div class="col text-left">
            <h5 class="font-14 LinotteRegular">
                ¿Qué buscas para tu negocio?
            </h5>
            <div class="space-15"></div>
            <div class="row">
                <div class="col-10">
                    <h5 class="LinotteRegular font-20">Estoy buscando un sitio web</h5>
                    <small class="text-muted LinotteRegular">                
                      Incluye Landing pages, Aplicaciones web, Chats en línea, Servicios Web, Pasarelas de pago, entre otros servicios.
                    </small>
                </div>
                <div class="col">
                    <mat-slide-toggle (dragChange)="RedirectModal('campaign/es/website');" [disabled]="canCheck" color="primary" (toggleChange)="RedirectModal('campaign/es/website');" class="LinotteRegular"></mat-slide-toggle>
                </div>
                <div class="space-40"></div>
                <section class="offset-1 border-separator"></section>
            </div>
            <div class="space-30"></div>
            <div class="row">
                <div class="col-10">
                    <h5 class="LinotteRegular font-20">Estoy buscando un sitio E-commerce</h5>
                    <small class="text-muted LinotteRegular">                
                      Incluye Plantillas profesionalse, CRM como Opencart, Shopify, Prestashop, Plataformas administrativas y Marketplaces.
                  </small>
                </div>
                <div class="col">
                    <mat-slide-toggle (dragChange)="RedirectModal('campaign/es/ecommerce');" [disabled]="canCheck" (toggleChange)="RedirectModal('campaign/es/ecommerce');" class="LinotteRegular"></mat-slide-toggle>
                </div>
                <div class="space-40"></div>
                <section class="offset-1 border-separator"></section>
            </div>
            <div class="space-30"></div>
            <div class="row">
                <div class="col-10">
                    <h5 class="LinotteRegular font-20">Estoy buscando una aplicación movil</h5>
                    <small class="text-muted LinotteRegular">                
                      Incluye Aplicaciones nativas, Híbridas, Aplicaciones web progresivas y APIs. 
                  </small>
                </div>
                <div class="col">
                    <mat-slide-toggle (dragChange)="RedirectModal('campaign/es/applications');" [disabled]="canCheck" (toggleChange)="RedirectModal('campaign/es/applications');" class="LinotteRegular"></mat-slide-toggle>
                </div>
                <div class="space-40"></div>
                <section class="offset-1 border-separator"></section>
            </div>
            <div class="space-30"></div>
            <div class="row">
                <div class="col-10">
                    <h5 class="LinotteRegular font-20">Quiero crear mi propia marca</h5>
                    <small class="text-muted LinotteRegular">                
                      Incluye Logo, Diseño Gráfico, Identidad Visual, Manual de marca y tarjetas de presentación. 
                  </small>
                </div>
                <div class="col">
                    <mat-slide-toggle (dragChange)="RedirectModal('campaign/es/branding');" [disabled]="canCheck" (toggleChange)="RedirectModal('campaign/es/branding');" class="LinotteRegular"></mat-slide-toggle>
                </div>
                <div class="space-40"></div>
                <section class="offset-1 border-separator"></section>
            </div>
            <div class="space-30"></div>
            <div class="row">
                <div class="col-10">
                    <h5 class="LinotteRegular font-20">Campañas de Marketing</h5>
                    <small class="text-muted LinotteRegular">                
                      Incluye Optimización SEO, Google Ads, Campañas de Social Media, Facebook pixel, Campañas de Conversión,
                      Google Optimize, Estrategias de Marketing, entre otros servicios.   
                  </small>
                </div>
                <div class="col">
                    <mat-slide-toggle (dragChange)="RedirectModal('campaign/es/marketing');" [disabled]="canCheck" (toggleChange)="RedirectModal('campaign/es/marketing');" class="LinotteRegular"></mat-slide-toggle>
                </div>
                <div class="space-40"></div>
                <section class="offset-1 border-separator"></section>
            </div>
        </div>
    </div>
</section>